{% extends "base.html" %}
{% load static %}

{% block script %}
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">
    <script type="text/javascript" src="{% static 'js/script-account.js' %}"></script>
    <!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <!-- bootstrap datepicker -->
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/datepicker/locales/bootstrap-datepicker.es.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script>
        $(document).ready(function (){
            menu();
            $('#account').change(function () {
                change_drop('#account');
            });
            $("#example2_paginate").addClass("pull-right");
            $("#example2_paginate").css({height: '60px'});

            $('#datepicker').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                endDate: new Date(),
                language: 'es',
                clearBtn: true,
                todayHighlight: true,
                weekStart: 1
            });
            $('#datepicker2').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                endDate: new Date(),
                language: 'es',
                clearBtn: true,
                todayHighlight: true,
                weekStart: 1
            });
        });
    </script>
{% endblock %}

{% block content %}
    <section class="content-header">
        <dl id="title-account" class="dl-horizontal">
            <dt class="h3">Cuenta </dt>
            <dd><select id="account" class="select2 input-register drop-trans"></select>
            </dd>
            <dt class="h4 without-margin margin-l-13">Agencia: </dt>
            <dd id="agency" class="info-account">Dos Caminos</dd>
            <dt class="h4 without-margin margin-l-13">Estado: </dt>
            <dd id="status" class="info-account">Activa</dd>
        </dl>
        <div class="row">
            <div class="col-md-4 col-xs-7"></div>
            <div class="col-md-8 col-xs-4 without-padding">
                <a class="btn btn-default btn-group btn-apps" type="button"
                   onclick="move('transf-mis-cuentas')">
                    Transferencias a Mis Cuentas </a>
                <a class="btn btn-default btn-group btn-apps" type="button"
                   onclick="move('transf-mi-banco')">
                    Transferencias Mismo Banco </a>
                <a class="btn btn-default btn-group btn-apps" type="button"
                   onclick="move('transf-otros-bancos')">
                    Transferencias Otros Bancos </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title margin">Saldos</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-bordered table-condensed text-center">
                            <tbody><tr class="bg-gray">
                                <th>Disponible</th>
                                <th>Diferido</th>
                                <th>Bloqueado</th>
                            </tr>
                            <tr>
                                <td class="text-bold">Bs. 172.096,77</td>
                                <td>Bs. 25.000,00</td>
                                <td>Bs. 0 </td>
                            </tr>
                            </tbody></table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Desde:</label>
                    <div class="input-group date">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input type="text" class="form-control pull-right cursor" id="datepicker">
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Hasta:</label>
                    <div class="input-group date">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input type="text" class="form-control pull-right cursor" id="datepicker2">
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <p id="table-filter">
                        <label>Tipo de Transacción: </label>
                        <br>
                        <select id="trans" class="select2 input-register drop-trans"></select>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="btn-mov pull-right">
                    <a id="btn-con" class="btn btn-default btn-group btn-apps" type="button"
                       onclick=""> Consultar </a>
                    <a class="btn btn-default btn-group btn-apps" type="button"
                       onclick=""> Descargar </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="box box-success">
                    <div class="box-header">
                      <h3 class="box-title margin">Movimientos</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body without-padding">
                        <table id="example2" class="table table-bordered table-hover text-center cursor">
                            <thead>
                            <tr class="bg-gray">
                                <th>Fecha</th>
                                <th>Referencia</th>
                                <th>Transacción</th>
                                <th>Monto</th>
                                <th>Saldo</th>
                            </tr>
                            </thead>
                            <tbody id="mov-table">
                            </tbody>
                            <tfoot>
                            <tr class="bg-gray">
                                <th>Fecha</th>
                                <th>Referencia</th>
                                <th>Transacción</th>
                                <th>Monto</th>
                                <th>Saldo</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                <!-- /.box-body -->
              </div>
            </div>
        </div>
    </section>

    <div id="myModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header activate">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-center">Detalle de Movimiento</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-2"></div>
                    <dl class="dl-horizontal margin-l-70">
                        <dt>Fecha: </dt>
                        <dd>21/04/2017</dd>
                        <dt>Referencia: </dt>
                        <dd>1123456</dd>
                        <dt>Tipo de Transacción: </dt>
                        <dd>Depósito</dd>
                        <dt>Monto: </dt>
                        <dd>Bs. 2.000,00</dd>
                        <dt>Detalles: </dt>
                        <dd>Depósito realizado en la agencia de Los Ruices</dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-right btn-apps"
                            data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}