{% extends "base-email.html" %}
{% load static %}

{% block script %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div  id="center" class="center-block text-center">
                <img src="www.idbcgroup.com/actio/img/logo.png">
                <br>
                <br>
                <p>Estimado(a) <b>{{usuario}}!</b></p>
                <br>
                <p> Su cuenta ha sido activada satisfactoriamente.</p>
                <p> Ya puede empezar a disfrutar de la aplicación.</p>
                <br>
            </div>
        </div>
        <div>
            <a href="http://{{host}}"><button> Haga click para iniciar sesión </button></a>
            <br>
            <br>
        </div>
    </div>
    <div class="row">
        <p><small>
            NOTA: Esta notificación es enviada en forma automática por nuestros sistemas, por favor no
            responda a la misma ya que no será atendido por ninguna persona en la institución.
        </small></p>
        <p><small>
            Este mensaje y cualquier archivo que se adjunte contiene información privilegiada y confidencial.
            Es para uso exclusivo del destinatario.
        </small></p>
    </div>


{% endblock %}


