{% extends "base-email.html" %}
{% load static %}

{% block script %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div  id="center" class="center-block text-center">
                <img src="www.idbcgroup.com/actio/img/logo.png">
                <br>
                <br>
                <h2> Hola {{usuario}}! </h2>
                <br>
                <p> Ha tenido tres intentos fallidos de inicio de sesión.
                    <br><br>
                    Por favor comuniquese con ateción al cliente para reactivar su
                    cuenta en la aplicación.
                </p>
                <br>
            </div>
        </div>
    </div>

{% endblock %}


