{% extends "base-email.html" %}
{% load static %}

{% block script %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div  id="center" class="center-block text-center">
                <img src="www.idbcgroup.com/actio/img/logo.png">
                <br>
                <br>
                <p>Estimado(a) <b>{{usuario}}!</b></p>
                <br>
                <p> Su cuenta ha sido activada satisfactoriamente.</p>
                <p> Ya puede empezar a disfrutar de la aplicación.</p>
                <br>
            </div>
        </div>
        <div>
            <a href="http://{{host}}"><button> Haga click para iniciar sesión </button></a>
            <br>
            <br>
        </div>
    </div>


{% endblock %}


