{% extends "base-email.html" %}
{% load static %}

{% block script %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div  id="center" class="center-block text-center">
                <img src="www.idbcgroup.com/actio/img/logo.png">
                <br>
                <br>
                <h2> {{ title }} </h2>
                <br>
                <p>Estimado <b>{{usuario}}</b>
                <br>
                <p> Nos complace informarle que el {{fecha}} a las {{hora}} usted afililió:
                <br>
                <p> {{ msg }} </p>
                <br>
                <p> Desde ahora puede realizar {{service}} por nuestra banca por
                    internet. <strong>Recuerde </strong> que para realizar transferencias o pagos necesitará tener
                    su tarjeta de seguridad.
                </p>
                <br>
            </div>
        </div>
    </div>

{% endblock %}


