{% extends "base-email.html" %}
{% load static %}

{% block script %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div  id="center" class="center-block text-center">
                <img src="www.idbcgroup.com/actio/img/logo.png">
                <br>
                <br>
                <h2> Confirmación de Email </h2>
                <br>
                <p>Hola <b>{{usuario}}</b>
                <br>
                <p>Su código de validación es <b>{{key}}</b></p>
            </div>
        </div>
        <div>
            <h5>
                Este código estará activo por 2 minutos, pasado este tiempo deberá generar otro código.
            </h5>
            <br>
            <br>
        </div>
    </div>

{% endblock %}


