{% extends "base-info.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/AdminLTE.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script  src="{% static 'js/script-register.js' %}"></script>
    <script  src="{% static 'plugins/passwordStrength/examples/pwstrength.js' %}"></script>
{% endblock %}

{% block register %}
    <div class="col-md-1 col-xs-12">
        <h1></h1>
        <h1></h1>
    </div>
    <div id="title-register" class="col-md-8 col-xs-12">
        <div class="row">
            <div class="col-md-8 col-xs-8">
                <span class="h3"> Restablecer Contraseña </span>
            </div>
            <div class="col-md-4 col-xs-6 pagination-register text-center">
                <p id="number1" class="activate">1</p>
                <p id="number2">2</p>
            </div>
        </div>
        <hr>
        <div id="step1" class="step">
            <h4> Paso 1 de 2 </h4>
            <p> Estimado Usuario: Para restablecer su contraseña debemos autenticar sus
                datos. Tenga sus productos asociados con el banco cerca.</p>
            <div class="box">
                <h4 class="center-block text-center text-capitalize">
                    verificación de datos
                    <hr>
                </h4>
                <div class="box-body">
                    <dl class="dl-horizontal label-input">
                        <div class="row">
                            <div class="col-md-6 col-xs-5">
                                <label class="pull-right">Número de tarjeta: </label>
                            </div>
                            <div class="col-md-6 col-xs-6 rows">
                                <input id="numtarj" maxlength="18" class="input-register">
                                <i id="help-tarj" data-toggle="tooltip"
                                   data-placement="bottom" class="fa fa-lg fa-question-circle-o"> </i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-5">
                                <label class="pull-right">Código de validación: </label>
                            </div>
                            <div class="col-md-6 col-xs-6 rows">
                                <input maxlength="3" id="ccv" class="input-register">
                                <i id="help-ccv" data-toggle="tooltip"
                                   data-placement="right" class="fa fa-lg fa-question-circle-o"> </i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-5">
                                <label class="pull-right">Documento de Identidad: </label>
                            </div>
                            <div class="col-md-6 col-xs-6 rows">
                                <select class="select2 input-register">
                                    <option selected="selected">V- </option>
                                    <option>E- </option>
                                </select>
                                <input id="ci" maxlength="8" class="input-register margin-register">
                                <i id="help-ci" data-toggle="tooltip"
                                   data-placement="bottom" class="fa fa-lg fa-question-circle-o"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-5">
                                <label class="pull-right">Pregunta de Seguridad: </label>
                            </div>
                            <div class="col-md-6 col-xs-6 rows">
                                <p> Nombre de mi primera mascota </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-5">
                                <label class="pull-right">Respuesta de Pregunta: </label>
                            </div>
                            <div class="col-md-6 col-xs-6 rows">
                                <input maxlength="50" id="answ" class="input-register"
                                       onkeyup="count_words('#span_answ','#answ')"
                                       onfocus="count_words('#span_answ','#answ')"
                                       onclick="remove_count('#span_answ')">
                                <span id="span_answ" class="counter"></span>
                            </div>
                        </div>
                  </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-2"></div>
                <div class="col-md-6 col-xs-6">
                    <a id="btn-next" class="btn btn-default btn-group btn-apps"
                       type="button" onclick="pagNext(1)"> Siguiente </a>
                </div>
            </div>
        </div>

        <div id="step2" class="step">
            <h4> Paso 2 de 2 </h4>
            <p> Estimado Usuario: Tenga en cuenta que ésta contraseña tiene
                máximo 120 días de vigencia.
            </p>
            <div class="box">
                <h4 class="center-block text-center text-capitalize">
                    nueva contraseña de acceso
                    <hr>
                </h4>
                <div class="box-body">
                    <dl class="dl-horizontal label-input">
                        <div id="pwd-container" class="row">
                            <div class="col-md-6 col-xs-4">
                                <label class="pull-right">Contraseña: </label>
                            </div>
                            <div class="col-md-6 col-xs-6 rows">
                                <input type="password" id="password" class="password input-register">
                                <i id="help-pass" data-toggle="tooltip"
                                   data-placement="bottom" class="fa fa-lg fa-question-circle-o"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-4">
                                <label class="pull-right">Confirmación de Contraseña: </label>
                            </div>
                            <div class="col-md-6 col-xs-6 rows">
                                <input type="password" id="confirm-pass" class="password input-register">
                                <i id="help-confirm" data-toggle="tooltip"
                                   data-placement="bottom" class="fa fa-lg fa-question-circle-o"></i>
                            </div>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-6 col-xs-12">
                    <a id="btn-back" class="btn btn-default btn-group btn-apps" type="button"
                       onclick="pagBack(2)"> Anterior </a>
                    <a id="btn-next" class="btn btn-default btn-group btn-apps" type="button"
                       href="{% url 'nueva-pass-exitosa' %}"> Restablecer Contraseña </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}