{% extends "base-info.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/AdminLTE.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script  src="{% static 'js/script-register.js' %}"></script>
    <script  src="{% static 'js/validate.js' %}"></script>
    <script  src="{% static 'plugins/passwordStrength/examples/pwstrength.js' %}"></script>
    <script>
        $(document).ready(function (){

        });
    </script>
{% endblock %}

{% block register %}
    <div class="col-md-1 col-xs-12">
        <h1></h1>
        <h1></h1>
    </div>
    <div id="title-register" class="col-md-8 col-xs-12">
        <div class="row">
            <div class="col-md-9 col-xs-8">
                <span class="h3"> Restablecer Contraseña </span>
            </div>
            <div class="col-md-3 col-xs-6 pagination-register text-center">
                <p id="number1" class="activate">1</p>
                <p id="number2">2</p>
                <p id="number3">3</p>
            </div>
        </div>
        <hr>
        <div id="step1" class="step">
            <h4> Paso 1 de 3 </h4>
            <p> Estimado Usuario: Para restablecer su contraseña debemos autenticar sus
                datos. Tenga sus productos asociados con el banco cerca.</p>
            <div id="box1" class="box">
                <h4 class="center-block text-center text-capitalize">
                    verificación de datos
                    <hr>
                </h4>
                <div class="box-body">
                    <dl class="dl-horizontal label-input">
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <label class="pull-right">
                                    <span class="text-danger"> * </span> Número de tarjeta: </label>
                            </div>
                            <div class="col-md-5 col-xs-5 rows">
                                <input id="numtarj" maxlength="18" class="input-register">
                                <i id="help-tarj" data-toggle="tooltip"
                                   data-placement="bottom" class="fa fa-lg fa-question-circle-o"> </i>
                            </div>
                            <div class="col-md-3 col-xs-3 margin-t-2 no-padding">
                                <p id="error-num-tarj" class="text-danger"> </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <label class="pull-right">
                                    <span class="text-danger"> * </span> Código de validación: </label>
                            </div>
                            <div class="col-md-2 col-xs-3 rows">
                                <input maxlength="3" type="password" id="ccv" class="input-register">
                                <i id="help-ccv" data-toggle="tooltip"
                                   data-placement="right" class="fa fa-lg fa-question-circle-o"> </i>
                            </div>
                            <div class="col-md-3 col-xs-3  margin-t-2 no-padding">
                                <p id="error-ccv" class="text-danger"> </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-5">
                                <label class="pull-right">
                                    <span class="text-danger"> * </span> Fecha de vencimiento: </label>
                            </div>
                            <div class="col-md-5 col-xs-6 rows">
                                <span> Mes </span>
                                    <select id="month" class="select2 input-register">
                                    </select>
                                <span class="margin-register"> Año </span>
                                    <select id="year" class="select2 input-register"
                                            onchange="selectMonth()">
                                    </select>
                                <i id="help-fven" data-toggle="tooltip"
                                   data-placement="bottom" class="fa fa-lg fa-question-circle-o"> </i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-5">
                                <label class="pull-right">
                                    <span class="text-danger"> * </span> Documento de Identidad: </label>
                            </div>
                            <div class="col-md-4 col-xs-6 rows">
                                <select id="nac" class="select2 input-register">
                                    <option selected="selected">V- </option>
                                    <option>E- </option>
                                </select>
                                <input id="ci" maxlength="8" class="input-register margin-register">
                                <i id="help-ci" data-toggle="tooltip"
                                   data-placement="bottom" class="fa fa-lg fa-question-circle-o"></i>
                            </div>
                            <div class="col-md-4 col-xs-3 margin-t-2 no-padding">
                                <p id="error-ci" class="text-danger">  </p>
                            </div>
                        </div>
                        <div class="row">
                            <div id="error" class="col-md-11 center-block">
                                <p id="error-general" class="text-danger margin-error"> </p>
                            </div>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-5"></div>
                <div class="col-md-6 col-xs-6">
                    <a id="btn-back" class="btn btn-default btn-group btn-apps" type="button"
                       href="{% url 'home' %}"> Cancelar </a>
                    <a id="btn-next" class="btn btn-default btn-group btn-apps"
                       type="button" onclick="validation_forgot('#numtarj', '#ccv',
                       '#month', '#year', '#nac', '#ci')"> Siguiente </a>
                </div>
            </div>
        </div>

        <div id="step2" class="step">
            <h4> Paso 2 de 3 </h4>
            <p> Estimado Usuario: Para restablecer su contraseña debemos autenticar sus
                datos. Tenga sus productos asociados con el banco cerca.</p>
            <div id="box2" class="box">
                <h4 class="center-block text-center text-capitalize">
                    verificación de datos
                    <hr>
                </h4>
                <div class="box-body">
                    <dl class="dl-horizontal label-input">
                        <div class="row">
                            <div class="col-md-5 col-xs-5">
                                <label class="pull-right">
                                    Pregunta de Seguridad: </label>
                            </div>
                            <div class="col-md-6 col-xs-6 rows">
                                <p id="quest-sec"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-xs-5">
                                <label class="pull-right">
                                    <span class="text-danger"> * </span>
                                    Respuesta de Pregunta: </label>
                            </div>
                            <div class="col-md-6 col-xs-6 rows">
                                <input maxlength="50" id="answer" class="input-register"
                                       onkeyup="count_words('#span_answ','#answer')"
                                       onfocus="count_words('#span_answ','#answer')"
                                       onclick="remove_count('#span_answ')">
                                <span id="span_answ" class="counter"></span>
                            </div>
                            <div class="col-md-9 col-xs-9 error-question">
                                <p id="error-answer" class="text-danger"> </p>
                            </div>
                        </div>
                        <div class="row">
                            <span id="phone-home" hidden=""></span>
                            <span id="cellphone" hidden=""></span>
                            <span id="phone-office" hidden=""> </span>
                            <span id="birthday" hidden=""> </span>
                            <div id="error_step2" class="col-md-11 center-block margin-l-13">
                            </div>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-5 margin-l-"></div>
                <div class="col-md-6 col-xs-6">
                    <a id="btn-back" class="btn btn-default btn-group btn-apps" type="button"
                       onclick="pagBack(2)"> Anterior </a>
                    <a id="btn-next" class="btn btn-default btn-group btn-apps"
                       type="button" onclick="validate_ques()"> Siguiente </a>
                </div>
            </div>
        </div>

        <div id="step3" class="step">
            <h4> Paso 3 de 3 </h4>
            <p> Estimado Usuario: Tenga en cuenta que ésta contraseña tiene
                máximo 120 días de vigencia, no puede parecerse a sus datos personales, debe contener mínimo 8 caracteres alfanuméricos,
                al menos un caracter en mayúscula y un símbolo especial.
            </p>
            <div id="box3" class="box">
                <h4 class="center-block text-center text-capitalize">
                    nueva contraseña de acceso
                    <hr>
                </h4>
                <div class="box-body">
                    <dl class="dl-horizontal label-input">
                        <div id="pwd-container" class="row">
                            <div class="col-md-4 col-xs-4">
                                <label class="pull-right">
                                    <span class="text-danger"> * </span> Contraseña: </label>
                            </div>
                            <div class="col-md-4 col-xs-4 rows">
                                <input type="password" id="password" class="password input-register">
                            </div>
                            <div class="col-md-4 col-xs-4 margin-t-2 no-padding">
                                <p id="error-pass" class="text-danger"> </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <label class="pull-right">
                                    <span class="text-danger"> * </span> Confirme Contraseña: </label>
                            </div>
                            <div class="col-md-4 col-xs-4 rows">
                                <input type="password" id="confirm-pass" class="password input-register">
                            </div>
                            <div class="col-md-4 col-xs-4 margin-t-2 no-padding">
                                <p id="error-conf-pass" class="text-danger"> </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 col-xs-1">
                            </div>
                            <div class="col-md-10 col-xs-10 rows margin-t-25">
                                <p id="min-carac" class="text-danger">
                                    La contraseña debe contener mínimo 8 caracteres
                                </p>
                                <p id="carac" class="text-danger">
                                    La contraseña debe contener al menos un caracter
                                    en mayúscula y un caracter en minúscula
                                </p>
                                <p id="repeat-carac" class="text-danger">
                                    La contraseña no debe tener caracteres repetidos
                                </p>
                                <p id="num-carac" class="text-danger">
                                    La contraseña debe contener al menos un caracter numérico
                                </p>
                                <p id="spec-carac" class="text-danger">
                                    La contraseña debe contener al menos un caracter especial como los siguientes: $@!.#_*
                                </p>
                                <p id="pers-carac" class="text-danger">
                                    La contraseña no debe contener sus datos
                                    personales (núm de teléfono, fecha de nacimiento,
                                    cédula, nombre o apellido)
                                </p>
                                <p id="confirm" class="text-danger">
                                    La confirmación de la contraseña debe ser igual a la contraseña
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div id="error_step5" class="col-md-11 center-block">
                            </div>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-3"></div>
                <div class="col-md-6 col-xs-9">
                    <a id="btn-back" class="btn btn-default btn-group btn-apps" type="button"
                       onclick="pagBack(3)"> Anterior </a>
                    <a id="btn-next" class="btn btn-default btn-group btn-apps" type="button"
                       onclick="validate_pass_forgot()"> Restablecer Contraseña </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}