{% extends "base.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'js/menu.js' %}"></script>
    <script>
        $(document).ready(function (){
            menu();
        });
    </script>
{% endblock %}

{% block content %}
    <section class="content-header">
        <div id="title-help" class="row">
            <span class="h3">Preguntas Frecuentes </span>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="box box-success">
                    <div class="box-body">
                        <span class="h4">
                            <i class="fa  fa-caret-right"> </i>
                            <span>¿Cómo realizar una transferencia a mis propias cuentas? </span>
                        </span>
                        <p class="margin-l-45">
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXyyyyywwwwwwwwwwwwwwwwwwwwwwww
                            rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
                            rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr.
                        </p>
                        <span class="h4">
                            <i class="fa  fa-caret-right"> </i>
                            <span>¿Cómo realizar una transferencia a mis propias cuentas? </span>
                        </span>
                        <p class="margin-l-45">
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXyyyyywwwwwwwwwwwwwwwwwwwwwwww
                            rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
                            rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr.
                        </p>
                        <span class="h4">
                            <i class="fa  fa-caret-right"> </i>
                            <span>¿Cómo realizar una transferencia a mis propias cuentas? </span>
                        </span>
                        <p class="margin-l-45">
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXyyyyywwwwwwwwwwwwwwwwwwwwwwww
                            rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
                            rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr.
                        </p>
                        <span class="h4">
                            <i class="fa  fa-caret-right"> </i>
                            <span>¿Cómo realizar una transferencia a mis propias cuentas? </span>
                        </span>
                        <p class="margin-l-45">
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXyyyyywwwwwwwwwwwwwwwwwwwwwwww
                            rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
                            rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}