{% extends "base.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'js/menu.js' %}"></script>
    <script>
        $(document).ready(function (){
            menu();
            $.getJSON('../static/js/questions.json', function (data) {
              $.each( data, function( key, val ) {
                  $("#questions").append('<span class="h4 quest_help"><i class="fa fa-caret-right"> </i>'+
                            '<span>'+ val.pregunta +'</span></span>'+
                            '<p class="margin-l-45 text-wrapper">'+ val.respuesta +'</p>');
              });
            })
        });
    </script>
{% endblock %}

{% block content %}
    <section class="content-header">
        <div id="title-help" class="row">
            <span class="h3">Preguntas Frecuentes </span>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="box box-success">
                    <div id="questions" class="box-body">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}