{% extends "base.html" %}
{% load static %}

{% block script %}
    <!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script-management.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/script-elem_sec.js' %}"></script>
    <link type="text/css" href="{% static 'plugins/keypad-package/css/jquery.keypad.css'%}"
          rel="stylesheet">
    <script type="text/javascript" src="{% static 'plugins/keypad-package/js/jquery.plugin.js'%}">
    </script>
    <script type="text/javascript" src="{% static 'plugins/keypad-package/js/jquery.keypad.js'%}">
    </script>
    <script>
        $(document).ready(function (){
            var session = '{{session}}' === 'true';

            $('#abc').text('{{ customer.user.username }}');

            if (session) {
                $('#sec_mng').css({display: 'none'});
            }
            else {
                $('#body_mng').css({display: 'none'});
            }

            $("#input_frs_coor").keypad();
            $("#input_snd_coor").keypad();
            $.keypad.setDefaults({prompt: ''});
        });
    </script>
{% endblock %}

{% block content %}
    <section id="sec_mng" class="content-header">
        <div class="row" id="title-transf-bank">
            <h3> Elementos de Seguridad </h3>
            <span id="abc" hidden=""></span>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7">
                <div class="box box-success">
                    <div class="box-body">
                        <dl class="dl-horizontal label-input no-margin no-pad-bottom">
                            <div class="row">
                                <div class="col-md-6 col-xs-5">
                                    <label class="pull-right">
                                        Pregunta de Seguridad: </label>
                                </div>
                                <div class="col-md-6 col-xs-5 rows no-margin">
                                    <p id="question">{{question}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-5">
                                    <label class="pull-right">
                                        <span class="text-danger"> * </span> Respuesta: </label>
                                </div>
                                <div class="col-md-6 col-xs-5 rows">
                                    <input id="resp_seg" maxlength="50" type="password"
                                           class="input-register">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-5">
                                    <label class="pull-right">
                                        <span class="text-danger"> * </span> Coordenadas: </label>
                                </div>
                                <div class="col-md-5 col-xs-5 rows">
                                    <span> <span id="first_coor">{{first_coor}}</span>
                                    <input id="input_frs_coor" maxlength="3" type="password"
                                           class="input-register">
                                    </span>
                                    <span> <span id="second_coor">{{second_coor}}</span>
                                    <input id="input_snd_coor" maxlength="3" type="password"
                                           class="input-register">
                                    </span>
                                </div>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-xs-5"></div>
            <div class="col-md-4">
                <a id="btn-back" class="btn btn-default btn-group btn-apps"
                   type="button" onclick="window.history.back()"> Cancelar
                </a>
                <a id="btn-next" class="btn btn-default btn-group btn-apps pull-right"
                   type="button" onclick="elem_Security('#resp_seg','#input_frs_coor','#input_snd_coor',
                   '#body_mng','#sec_mng')">
                    Siguiente
                </a>
            </div>
        </div>
    </section>

    <section id="body_mng" class="content-header">
        <div class="row" id="title-transf-bank">
            <h3> Gestión de Productos </h3>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7">
                <div class="box box-success">
                    <div class="box-header padding-tb">
                        <h3 class="box-title margin">Lista de Productos </h3>
                        <p class="margin-l-13 without-margin">
                            A continuación se muestran todos los productos asociados
                            a usted que puede activar o anular.
                        </p>
                    </div>
                    <div class="box-body no-padding">
                        <table id="table-mng" class="table table-bordered table-hover text-center">
                            <thead>
                            <tr class="bg-gray">
                                <th>Producto</th>
                                <th>Activar</th>
                                <th>Desactivar</th>
                            </tr>
                            </thead>
                            <tbody id="body-table-mng">
                            </tbody>
                            <tfoot>
                            <tr class="bg-gray">
                                <th>Producto</th>
                                <th>Activar</th>
                                <th>Desactivar</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                <!-- /.box-body -->
              </div>
            </div>
        </div>
    </section>

{% endblock %}