{% extends "base-email.html" %}
{% load static %}

{% block script %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div  id="center" class="center-block text-center">
                <img src="www.idbcgroup.com/actio/img/logo.png">
                <br>
                <br>
                <h2> Cambio en el Perfil de Seguridad </h2>
                <br>
                <p>Estimado(a) <b>{{usuario}}</b>
                <br>
                <p> Ha cambiado sus datos del perfil de seguridad exitosamente el {{fecha}} a las {{hora}}.
                </p>
                <br>
            </div>
        </div>
    </div>

{% endblock %}


