{% extends "base.html" %}
{% load static %}

{% block script %}
    <!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script-payments.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/script-elem_sec.js' %}"></script>
    <link type="text/css" href="{% static 'plugins/keypad-package/css/jquery.keypad.css'%}"
          rel="stylesheet">
    <script type="text/javascript" src="{% static 'plugins/keypad-package/js/jquery.plugin.js'%}">
    </script>
    <script type="text/javascript" src="{% static 'plugins/keypad-package/js/jquery.keypad.js'%}">
    </script>
    <script>
        $(document).ready(function (){
            var session = String({{session}}) === 'true';
            alert(session);

            if (session) {
                $('#sec_payment').css({display: 'none'});
            }
            else {
                $('#body_payment').css({display: 'none'});
            }

            $("#table-payments_paginate").addClass("pull-right");
            $("#table-payments_paginate").css({height: '60px'});
            $("#table-payments_filter").addClass("pull-right");
            $("#input_frs_coor").keypad();
            $("#input_snd_coor").keypad();
            $.keypad.setDefaults({prompt: ''});
        });
    </script>
{% endblock %}

{% block content %}
    <section id="sec_payment" class="content-header">
        <div class="row" id="title-transf-bank">
            <h3> Elementos de Seguridad </h3>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7">
                <div class="box box-success">
                    <div class="box-body">
                        <dl class="dl-horizontal label-input no-margin no-pad-bottom">
                            <div class="row">
                                <div class="col-md-6 col-xs-5">
                                    <label class="pull-right">
                                        Pregunta de Seguridad: </label>
                                </div>
                                <div class="col-md-6 col-xs-5 rows no-margin">
                                    <p id="question">{{question}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-5">
                                    <label class="pull-right">
                                        <span class="text-danger"> * </span> Respuesta: </label>
                                </div>
                                <div class="col-md-6 col-xs-5 rows">
                                    <input id="resp_seg" maxlength="50" type="password"
                                           class="input-register">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-5">
                                    <label class="pull-right">
                                        <span class="text-danger"> * </span> Coordenadas: </label>
                                </div>
                                <div class="col-md-5 col-xs-5 rows">
                                    <span> <span id="first_coor">{{first_coor}}</span>
                                    <input id="input_frs_coor" maxlength="3" type="password"
                                           class="input-register">
                                    </span>
                                    <span> <span id="second_coor">{{second_coor}}</span>
                                    <input id="input_snd_coor" maxlength="3" type="password"
                                           class="input-register">
                                    </span>
                                </div>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-xs-5"></div>
            <div class="col-md-4">
                <a id="btn-back" class="btn btn-default btn-group btn-apps"
                   type="button" onclick="window.history.back()"> Cancelar
                </a>
                <a id="btn-next" class="btn btn-default btn-group btn-apps pull-right"
                   type="button" onclick="elem_Security('#resp_seg','#input_frs_coor','#input_snd_coor',
                   '#body_payment','#sec_payment')">
                    Siguiente
                </a>
            </div>
        </div>
    </section>

    <section id="body_payment" class="content-header">
        <div class="row" id="title-transf-bank">
            <h3> Pagos </h3>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-4"></div>
            <div class="col-md-8 col-xs-8">
                <a class="btn btn-default btn-group btn-apps pull-right" type="button"
                   href="{% url 'registro-servicios' customer.ref %}"> Agregar Servicio </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="box box-success">
                    <div class="box-header padding-tb">
                        <h3 class="box-title margin">Lista de Servicios</h3>
                        <p class="margin-l-13 without-margin">
                            Seleccione un servicio para realizar un pago
                        </p>
                    </div>
                    <div class="box-body no-padding">
                        <table id="table-payments" class="table table-bordered table-hover text-center cursor">
                            <thead>
                            <tr class="bg-gray">
                                <th>Alias</th>
                                <th>Nombre Servicio</th>
                                <th>Tipo</th>
                                <th>Producto</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody id="body-table-pay">
                            {% for p in payments %}
                                <tr>
                                    <td class="w-180" onclick="location.href='{% url 'datos-pago' pk=customer.ref aff=p.id %}'">
                                    <span class="link cursor">
                                        {{ p.alias }}
                                    </span>
                                    </td>
                                    <td onclick="location.href='{% url 'datos-pago' pk=customer.ref aff=p.id %}'">
                                    <span class="cursor text-bold">
                                        {{ p.identService }}
                                    </span>
                                    </td>
                                    <td class="w-200" onclick="location.href='{% url 'datos-pago' pk=customer.ref aff=p.id %}'">
                                    <span  class="cursor">
                                        {{ p.get_type }}
                                    </span>
                                    </td>
                                    <td class="w-180" onclick="location.href='{% url 'datos-pago' pk=customer.ref aff=p.id %}'">
                                    <span class="cursor">
                                        {{ p.numService }}
                                    </span>
                                    </td>
                                    {% if p.identService == 'Pago Préstamo' or p.identService == 'TDC Propias' %}
                                        <td>
                                            <a class="icon-table disabled" onclick="notification_error('No puede editar este servicio.')">
                                                <i class="fa fa-pencil color-icon-disabled"></i></a>
                                            <a class="icon-table disabled" onclick="notification_error('No puede eliminar este servicio.')">
                                                <i class="fa fa-close color-icon-disabled"></i></a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <a class="icon-table" href="{% url 'modificar-servicio' p.id %}"><i class="fa fa-pencil color-icon"></i></a>
                                            <a class="icon-table open_modal" data-name="{{ p.identService }}"
                                               data-product="{{ p.numService }}"
                                               data-toggle="modal" href="#Modal-Delete" data-url="{{ p.id }}">
                                                <i class="fa fa-close color-delete"></i>
                                            </a>
                                        </td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr class="bg-gray">
                                <th>Alias</th>
                                <th>Nombre Servicio</th>
                                <th>Tipo</th>
                                <th>Producto</th>
                                <th>Acciones</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>

    <div id="Modal-Delete" class="modal">
        <div class="modal-dialog modal-trans">
            <div class="modal-content">
                <div class="modal-header activate">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-center">Eliminar Servicio</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                            <p> ¿Está seguro que desea eliminar el servicio <strong id="name-aff"> </strong>
                                asociado al producto <strong id="product-aff"> </strong> de la lista de sus servicios? </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-default btn-apps"
                                    data-dismiss="modal">Cancelar</button>
                        </div>
                        <div class="col-md-3">
                            <a type="button" id="delete-aff" class="btn btn-default btn-apps"
                                    data-dismiss="modal">Aceptar</a>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}