{% extends "base-email.html" %}
{% load static %}

{% block script %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div  id="center" class="center-block text-center">
                <img src="www.idbcgroup.com/actio/img/logo.png">
                <br>
                <br>
                <h2> {{ title }} </h2>
                <br>
                <p>Hola <b>{{usuario}}</b>
                <br>
                <p> {{ msg }} de manera exitosa el {{fecha}} a las {{hora}}.
                </p>
                <strong> {{ extra }} </strong>
                <br>
            </div>
        </div>
    </div>

{% endblock %}


