{% extends "base.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'js/script-register-affiliate.js' %}"></script>
{% endblock %}

{% block content %}
    <section class="content-header">
        <div class="row" id="title-transf-bank">
            <h3> Registro de Afiliados </h3>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="box box-success">
                    <div class="box-body">
                        <dl class="dl-horizontal label-input">
                            <div class="row">
                                <div class="col-md-5 col-xs-5">
                                    <label class="pull-right">
                                        <span class="text-danger"> * </span> Banco: </label>
                                </div>
                                <div class="col-md-6 col-xs-5 rows">
                                    <select id="bank" class="select2 input-register field-register">
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-xs-5">
                                    <label class="pull-right">
                                        <span class="text-danger"> * </span>
                                        Número de cuenta: </label>
                                </div>
                                <div class="col-md-6 col-xs-5 rows">
                                    <input id="num-acc" maxlength="20"
                                           class="input-register field-register">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-xs-5">
                                    <label class="pull-right">
                                        <span class="text-danger"> * </span>
                                        Nombre del Afiliado: </label>
                                </div>
                                <div class="col-md-6 col-xs-5 rows">
                                    <input id="name" class="input-register field-register">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-xs-5">
                                    <label class="pull-right">
                                        <span class="text-danger"> * </span>
                                        Documento de Identidad: </label>
                                </div>
                                <div class="col-md-6 col-xs-5 rows">
                                    <select id="select-ci" class="select2 input-register">
                                        <option selected>V- </option>
                                        <option>E- </option>
                                        <option>J- </option>
                                    </select>
                                    <input id="ci" class="input-register margin-register">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-xs-5">
                                    <label class="pull-right">
                                        <span class="text-danger"> * </span> Alias: </label>
                                </div>
                                <div class="col-md-6 col-xs-6 rows">
                                    <input id="nickname" maxlength="20" class="input-register">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-xs-5">
                                    <label class="pull-right">
                                        <span class="text-danger"> * </span> Email: </label>
                                </div>
                                <div class="col-md-6 col-xs-5 rows">
                                    <input id="email" class="input-register field-register">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-xs-5">
                                    <label class="pull-right">
                                        <span class="text-danger"> * </span> Confirmación Email: </label>
                                </div>
                                <div class="col-md-6 col-xs-5 rows">
                                    <input id="email-confirm" class="input-register field-register">
                                </div>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6"></div>
            <div class="col-md-4">
                <a id="btn-back" class="btn btn-default btn-group btn-apps"
                   type="button" onclick="window.history.back()"> Cancelar </a>
                <a id="btn-next" class="btn btn-default btn-group btn-apps pull-right"
                   type="button" onclick="add_affiliate('#bank','#num-acc','#name','#select-ci','#ci',
                   '#nickname','#email','#email-confirm')"> Agregar </a>
            </div>

        </div>
    </section>
{% endblock %}