{% extends "base-email.html" %}
{% load static %}

{% block script %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div  id="center" class="center-block text-center">
                <img src="www.idbcgroup.com/actio/img/logo.png">
                <br>
                <br>
                <h2> Registro Exitoso! </h2>
                <br>
                <p>Estimado <b>{{usuario}}</b>, ¡Gracias por unirte a nuestra Aplicación! </p>
                <br>
                <a href="http://{{host}}/activate/{{key}}"><button type="button">Haz click aqui para activar tu cuenta</button></a>
                <br>
            </div>
        </div>
        <div>
            <h5>
                El código estará activo por 24hrs, pasado este tiempo podrá generar otro código entrando a este mismo link.
            </h5>
            <br>
            <br>
        </div>
    </div>

{% endblock %}


