{% extends "base.html" %}
{% load static %}

{% block script %}
    <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/datepicker/locales/bootstrap-datepicker.es.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/script-elem_sec.js' %}"></script>
    <script src="{% static 'js/script-request.js' %}"></script>
    <link type="text/css" href="{% static 'plugins/keypad-package/css/jquery.keypad.css'%}"
          rel="stylesheet">
    <script type="text/javascript" src="{% static 'plugins/keypad-package/js/jquery.plugin.js'%}">
    </script>
    <script type="text/javascript" src="{% static 'plugins/keypad-package/js/jquery.keypad.js'%}">
    </script>
    <script>
        $(document).ready(function (){
            var session = String({{session}}) === 'true';

            if (session) {
                $('#sec_request_app').css({display: 'none'});
            }
            else {
                $('#body_request_app').css({display: 'none'});
            }

            $("#input_frs_coor").keypad();
            $("#input_snd_coor").keypad();
            $.keypad.setDefaults({prompt: ''});

            $('#datepicker').datepicker({
                autoclose: true,
                startDate: new Date(),
                format: 'dd/mm/yyyy',
                language: 'es',
                clearBtn: true,
                todayHighlight: true,
                weekStart: 1
            });
        });
    </script>
{% endblock %}

{% block content %}
    <section id="sec_request_app" class="content-header">
        <div class="row" id="title-transf-bank">
            <h3> Elementos de Seguridad </h3>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7">
                <div class="box box-success">
                    <div class="box-body">
                        <dl class="dl-horizontal label-input no-margin no-pad-bottom">
                            <div class="row">
                                <div class="col-md-6 col-xs-5">
                                    <label class="pull-right">
                                        Pregunta de Seguridad: </label>
                                </div>
                                <div class="col-md-6 col-xs-5 rows no-margin">
                                    <p id="question">{{question}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-5">
                                    <label class="pull-right">
                                        <span class="text-danger"> * </span> Respuesta: </label>
                                </div>
                                <div class="col-md-6 col-xs-5 rows">
                                    <input id="resp_seg" maxlength="50" type="password"
                                           class="input-register">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-5">
                                    <label class="pull-right">
                                        <span class="text-danger"> * </span> Coordenadas: </label>
                                </div>
                                <div class="col-md-5 col-xs-5 rows">
                                    <span> <span id="first_coor">{{first_coor}}</span>
                                    <input id="input_frs_coor" maxlength="3" type="password"
                                           class="input-register">
                                    </span>
                                    <span> <span id="second_coor">{{second_coor}}</span>
                                    <input id="input_snd_coor" maxlength="3" type="password"
                                           class="input-register">
                                    </span>
                                </div>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-xs-5"></div>
            <div class="col-md-4">
                <a id="btn-back" class="btn btn-default btn-group btn-apps"
                   type="button" onclick="window.history.back()"> Cancelar
                </a>
                <a id="btn-next" class="btn btn-default btn-group btn-apps pull-right"
                   type="button" onclick="elem_Security('#resp_seg','#input_frs_coor','#input_snd_coor',
                   '#body_request_app','#sec_request_app')">
                    Siguiente
                </a>
            </div>
        </div>
    </section>

    <section id="body_request_app" class="content-header">
        <div class="row" id="title-transf-bank">
            <h3> Solicitud de Citas </h3>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-body no-padding">
                        <div class="row row-top">
                            <div class="col-md-5 col-xs-5">
                                <label class="pull-right">
                                    <span class="text-danger"> * </span> Agencia Bancaria: </label>
                            </div>
                            <div class="col-md-6 col-xs-5 rows">
                                <select id="agen_bank" class="select2 input-register no-margin">
                                </select>
                            </div>
                        </div>
                        <div class="row detail-tdc">
                            <div class="col-md-5 col-xs-5">
                                <label class="pull-right">
                                    <span class="text-danger"> * </span> Fecha: </label>
                            </div>
                            <div class="input-group date col-md-4 col-xs-4">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input class="form-control pull-right cursor" id="datepicker">
                            </div>
                        </div>
                    </div>
                <!-- /.box-body -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-xs-5"></div>
            <div class="col-md-4">
                <a id="btn-back" class="btn btn-default btn-group btn-apps"
                   type="button" href="{% url 'solicitudes' customer.ref %}"> Cancelar
                </a>
                <a id="btn-next" class="btn btn-default btn-group btn-apps pull-right"
                   type="button" onclick="save_appointment('#agen_bank', '#datepicker', '{{ customer.user.username }}')">
                    Aceptar
                </a>
            </div>
        </div>
    </section>

{% endblock %}