{% extends "base.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/script-request.js' %}"></script>
    <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script>
        $(document).ready(function () {
            var table = $('#table-request').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching":true,
                "ordering": false,
                "order": [ 0, 'asc' ],
                "info": true,
                "autoWidth": false,
                "pageLength":5,
                "language": {
                    "emptyTable": "No tiene solicitudes"
                }
            });

            $("#table-request_paginate").addClass("pull-right");
            $("#table-request_paginate").css({height: '60px'});
            $("#table-request_filter").addClass("pull-right");
        })
    </script>
{% endblock %}

{% block content %}
    <section class="content-header">
        <div class="row" id="title-transf-bank">
            <h3> Solicitudes en Línea </h3>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 margin-t-25">
                <div class="box box-success">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <a id="btn-tarj_seg" class="btn btn-default btn-group btn-apps pull-right"
                                   type="button" href="{% url 'solicitud-tarjeta-coordenadas' pk=customer.ref %}">
                                    Generar Tarjeta de Seguridad
                                </a>
                            </div>
                            {% if  customer.elemSecurity.cardCoor_id is None %}
                                <div class="margin-l-45 col-md-5">
                                    <a id="btn-cheq" class="btn btn-default btn-group btn-apps pull-left"
                                       type="button" onclick="notification_error('Para realizar una solicitud de chequera debe ' +
                                     'poseer una tarjeta de coordenadas. Haga click en Generar Tarjeta de Seguridad para generarla.')">
                                        Solicitud de Chequeras </a>
                                </div>
                            {% elif  customer.elemSecurity.cardCoor.status is False %}
                                <div class="margin-l-45 col-md-5">
                                    <a id="btn-cheq" class="btn btn-default btn-group btn-apps pull-left"
                                       type="button" onclick="notification_error('Para realizar una solicitud de chequera debe ' +
                                        'generar otra tarjeta de coordenadas, debido a que la anterior fue anulada. ' +
                                        'Ingrese a Solicitudes en Línea y proceda a generarla.')">
                                        Solicitud de Chequeras </a>
                                </div>
                            {% else %}
                                <div class="margin-l-45 col-md-5">
                                    <a id="btn-cheq" class="btn btn-default btn-group btn-apps pull-left"
                                       type="button" href="{% url 'solicitud-chequeras' customer.ref %}">
                                        Solicitud de Chequeras </a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="row margin-t-25">
                            <div class="col-md-6">
                                <a id="btn-ref" class="btn btn-default btn-group btn-apps pull-right"
                                   type="button" href="{% url 'solicitud-referencias' customer.ref %}">
                                    Solicitud de Referencias Bancarias </a>
                            </div>
                            {% if  customer.elemSecurity.cardCoor_id is None %}
                                <div class="margin-l-45 col-md-5">
                                    <a id="btn-citas" class="btn btn-default btn-group btn-apps pull-left"
                                       type="button" onclick="notification_error('Para realizar una solicitud de citas debe ' +
                                     'poseer una tarjeta de coordenadas. Haga click en Generar Tarjeta de Seguridad para generarla.')">
                                        Solicitud de Citas Bancarias </a>
                                </div>
                            {% elif  customer.elemSecurity.cardCoor.status is False %}
                                <div class="margin-l-45 col-md-5">
                                    <a id="btn-citas" class="btn btn-default btn-group btn-apps pull-left"
                                       type="button" onclick="notification_error('Para realizar una solicitud de citas debe ' +
                                        'generar otra tarjeta de coordenadas, debido a que la anterior fue anulada. ' +
                                        'Ingrese a Solicitudes en Línea y proceda a generarla.')">
                                        Solicitud de Citas Bancarias </a>
                                </div>
                            {% else %}
                                <div class="margin-l-45 col-md-5">
                                    <a id="btn-citas" class="btn btn-default btn-group btn-apps pull-left"
                                       type="button" href="{% url 'solicitud-citas' customer.ref %}">
                                        Solicitud de Citas Bancarias </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-t-25">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="box box-success">
                    <div class="box-header padding-tb">
                        <h3 class="box-title margin">Lista de Solicitudes</h3>
                        <p class="margin without-margin">
                            A continuación se muestra un historial de sus solicitudes
                        </p>
                    </div>
                    <div class="box-body no-padding">
                        <table id="table-request" class="table table-bordered table-hover text-center">
                            <thead>
                            <tr class="bg-gray">
                                <th>Referencia</th>
                                <th>Solicitud</th>
                                <th>Fecha Solicitud</th>
                                <th>Descripción Solicitud</th>
                            </tr>
                            </thead>
                            <tbody id="table-req">
                            {% for r in req %}
                                <tr>
                                    <td>
                                    <span>
                                        {{ r.ref }}
                                    </span>
                                    </td>
                                    <td>
                                    <span>
                                        {{ r.name }}
                                    </span>
                                    </td>
                                    <td>
                                    <span>
                                        {{ r.get_date }}
                                    </span>
                                    </td>
                                    <td class="w-360">
                                    <span>
                                        {{ r.info }}
                                    </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr class="bg-gray">
                                <th>Referencia</th>
                                <th>Solicitud</th>
                                <th>Fecha Solicitud</th>
                                <th>Descripción Solicitud</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

    </section>
{% endblock %}