{% extends "base-index.html" %}
{% load static %}

{% block script %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div  id="center" class="center-block text-center">
                <h3> Ha restablecido exitosamente su contraseña de acceso. </h3>
            </div>
        </div>
        <div class="row">
            <div class="center-block text-center">
                <br>
                <br>
                <a id="btn-app" class="btn btn-default btn-group btn-apps" type="button" href="{% url 'home' %}"> Iniciar Sesión </a>
            </div>
        </div>
    </div>

{% endblock %}