{% extends "base.html" %}
{% load static %}

{% block script %}
    <!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script-transfers.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/script-elem_sec.js' %}"></script>
    <script>
        $(document).ready(function (){
            $('#body_tranf_other_bank').css({display: 'none'});
            $("#table-transf_paginate").addClass("pull-right");
            $("#table-transf_paginate").css({height: '60px'});
            $("#table-transf_filter").addClass("pull-right");
        });
    </script>
{% endblock %}

{% block content %}
    <section id="sec_tranf_other_bank" class="content-header">
        <div class="row" id="title-transf-bank">
            <h3> Elementos de Seguridad </h3>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7">
                <div class="box box-success">
                    <div class="box-body">
                        <dl class="dl-horizontal label-input no-margin no-pad-bottom">
                            <div class="row">
                                <div class="col-md-6 col-xs-5">
                                    <label class="pull-right">
                                        Pregunta de Seguridad: </label>
                                </div>
                                <div class="col-md-6 col-xs-5 rows no-margin">
                                    <p> Nombre de mi primera mascota </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-5">
                                    <label class="pull-right">
                                        <span class="text-danger"> * </span> Respuesta: </label>
                                </div>
                                <div class="col-md-6 col-xs-5 rows">
                                    <input id="resp_seg" maxlength="50" type="password"
                                           class="input-register">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-5">
                                    <label class="pull-right">
                                        <span class="text-danger"> * </span> Coordenadas: </label>
                                </div>
                                <div class="col-md-2 col-xs-2 rows">
                                    <span id="first_coor"> A5
                                    <input id="input_frs_coor" maxlength="3" type="password"
                                           class="input-register">
                                    </span>
                                    <span id="second_coor"> D2
                                    <input id="input_snd_coor" maxlength="3" type="password"
                                           class="input-register">
                                    </span>
                                </div>
                                <div class="col-md-3 col-xs-3 rows">
                                    <input id="resp_seg" maxlength="50" type="password"
                                           class="input-register">
                                </div>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-xs-5"></div>
            <div class="col-md-4">
                <a id="btn-back" class="btn btn-default btn-group btn-apps"
                   type="button" onclick="move_back_security()"> Cancelar
                </a>
                <a id="btn-next" class="btn btn-default btn-group btn-apps pull-right"
                   type="button" onclick="move_security('#body_tranf_other_bank','#sec_tranf_other_bank')">
                    Siguiente
                </a>
            </div>
        </div>
    </section>

    <section id="body_tranf_other_bank" class="content-header">
        <div class="row" id="title-transf-bank">
            <h3>Transferencias A Otros Bancos </h3>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-4"></div>
            <div class="col-md-8 col-xs-8">
                <a class="btn btn-default btn-group btn-apps pull-right" type="button"
                   href="{% url 'registro-afiliados' %}"> Agregar Afiliado </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="box">
                    <div class="box-header padding-tb">
                        <h3 class="box-title margin">Lista de Afiliados</h3>
                        <p class="margin-l-13 without-margin">
                            Seleccione un afiliado para realizarle una transferencia
                        </p>
                    </div>
                    <div class="box-body no-padding">
                        <table id="table-transf" class="table table-bordered table-hover text-center cursor">
                            <thead>
                            <tr class="bg-gray">
                                <th>Alias</th>
                                <th>Nombre Afiliado</th>
                                <th>Documento de Identidad</th>
                                <th>Banco</th>
                                <th>Fecha Afiliación</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody id="table-af-other">
                            </tbody>
                            <tfoot>
                            <tr class="bg-gray">
                                <th>Alias</th>
                                <th>Nombre Afiliado</th>
                                <th>Documento de Identidad</th>
                                <th>Banco</th>
                                <th>Fecha Afiliación</th>
                                <th>Acciones</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                <!-- /.box-body -->
              </div>
            </div>
        </div>
    </section>

    <div id="Modal-Delete-Other" class="modal">
        <div class="modal-dialog modal-trans">
            <div class="modal-content">
                <div class="modal-header activate">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-center">Eliminar Afiliado</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                            <p> ¿Está seguro que desea eliminar a
                                <strong> CasaMil C.A </strong>de la lista de sus afiliados? </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-3 col-xs-2"></div>
                        <div class="col-md-3 col-xs-4">
                            <button type="button" class="btn btn-default btn-apps"
                                data-dismiss="modal">Cancelar</button>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <button type="button" class="btn btn-default btn-apps"
                                data-dismiss="modal">Aceptar</button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}