{% extends "base.html" %}
{% load static %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/script-transfers.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
{% endblock %}

{% block content %}
    <section class="content-header">
        <div id="title-transf" class="row">
            <h3>Transferencias Al Mismo Titular </h3>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7">
                <div class="box">
                    <div class="box-body no-padding">
                        <div class="box-body">
                                <dl id="title-account" class="dl-horizontal">
                                    <dt class="h4">Cuenta a debitar: </dt>
                                    <dd>
                                        <select id="account1" class="select2 input-register drop-transf">
                                        </select>
                                        <span id="balance-acc"> Saldo Disponible:
                                            <span class="text-bold">Bs. 172.096,77</span>
                                        </span>
                                    </dd>
                                    <dt class="h4">Cuenta a acreditar: </dt>
                                    <dd>
                                        <select id="account2" class="select2 input-register drop-transf">
                                        </select>
                                    </dd>
                                    <dt class="h4">Monto: </dt>
                                    <dd>
                                        <span>Bs. </span><input id="amount-transf" maxlength="10" class="input-register">
                                    </dd>
                                </dl>
                              </div>
                            </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-xs-6"></div>
            <div class="col-md-2 col-xs-3">
                <a id="btn-trans" class="btn btn-default btn-group btn-apps pull-right" type="button"
                   onclick="window.history.back()">
                    Cancelar </a>
            </div>
            <div class="col-md-2 col-xs-3">
                <a id="btn-trans" class="btn btn-default btn-group btn-apps pull-right" type="button"
                   onclick="window.history.back()">
                    Transferir </a>
            </div>
        </div>

    </section>

{% endblock %}