{% extends "base-email.html" %}
{% load static %}

{% block script %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div  id="center" class="center-block text-center">
                <img src="www.idbcgroup.com/actio/img/logo.png">
                <br>
                <br>
                <h2> {{ title }} </h2>
                <br>
                <br>
                <p>Estimado(a) <b>{{usuario}}</b>
                <br>
                <p> Actio Capital se complace en informarle que el {{fecha}} a las {{hora}} usted {{ type }}
                 {{ transaction }} a:
                <br>
                <p> {{ msg }} </p>
                <p> {{ msg2 }} </p>
                <p> {{ amount }} </p>
                <p> {{ ref }} </p>
                <br>
                <p> Gracias por utilizar los servicios de Banca por Internet que le ofrece Actio Capital.
                </p>
                <br>
            </div>
        </div>
    </div>

{% endblock %}


