#footer {
    margin-left: 0;
}
#background-base {
    background-color: #ecf0f5;
}
#content-login {
    margin: 0 0 0 35px;
    padding-top: 0;
}
#support {
    background-color: rgba(173, 180, 173, 0.6);
    border-radius: 10px;
    padding: 5px;
    /*margin-right: 100px;*/
    min-width: 100px !important;
}
#user-new {
    background-color: rgba(67,141,136,0.58);
    border-radius: 10px;
    padding: 5px;
    min-width: 110px !important;
}
#login {
    border-radius: 10px;
    border: 6px outset rgb(67, 141, 136);
    padding: 15px;
    display: block;
    background-color: #FFF;
    /*margin-left: 20%;*/
    min-width: 200px !important;
}
div > div > input {
    margin-left: auto;
    margin-right: auto;
}
#a-login:focus, #a-login:hover {
    background-color: rgba(67,141,136,0.57);
    color: #FFF !important;
}
#info {
    background-color: rgba(67, 141, 136, 0.3);
    font-size: 15px;
    border-radius: 10px;
    min-width: 200px;
    padding: 15px 0 15px 0;
}
#icon {
    color: rgb(230, 246, 16);
}
#warning {
    margin-top: 30px;
}
#center {
    margin-top: 250px;
    font-size: 17px;
}
.btn-apps {
    background-color: #c0c0c0;
}
#btn-app {
    min-width: 150px;
}